    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr)); 
      
    }


.grid-container p {
    border: solid purple;
    padding: 1rem;
    border-radius: 5%;
}

.grid-container img{
    width: 100%;
   border: solid rgb(223, 20, 132);
   padding: 1rem;
   border-radius: 5%;
   
}